@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=League+Spartan:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=League+Spartan:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');


:root {
    --bg-color: #ffe5e5;
    --secondary-color: pink;
    --active-btn: rgb(247, 150, 179);
    --border-color: white;
    --text-color: white;
    --start-btn-bg: white;
}

.apple-theme {
    --bg-color: #ffcdcd;
    --secondary-color: rgb(226, 108, 127);
    --active-btn: rgb(224, 78, 103);
    --border-color: rgb(224, 78, 103);
    --text-color: rgb(224, 78, 103);
}

.peach-theme {
    --bg-color: #ffe5e5;
    --secondary-color: pink;
    --active-btn: rgb(247, 150, 179);
}

.pear-theme {
    --bg-color: #f4fff1;
    --secondary-color: #83d8a2;
    --active-btn: #519e80;
}

.cherry-theme {
    --bg-color: #eadaff;
    --secondary-color: rgb(194, 147, 255);
    --active-btn: rgb(154, 120, 217);
}

.orange-theme {
    --bg-color: #e0f8ff;
    --secondary-color: rgb(136, 217, 255);
    --active-btn: rgb(79, 150, 205);
}

.coconut-theme {
    --bg-color: #ffebd0;
    --secondary-color: rgb(151, 113, 71);
    --active-btn: rgb(171, 142, 103);
}
body {
    height: 100vh;
    background: var(--bg-color);
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    background: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    position: fixed;
}

h1 {
    font-family: 'League Spartan', sans-serif;
    color: white;
    padding-left: 2rem;
    font-size: 2rem;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
    gap: 1rem;
    padding-right: 2rem;
}

a {
    cursor: pointer;
}

.settingsImg {
    width: 30px;
    height: 30px;
}

.bodyContainer {
    display: flex;
    margin-top: 8rem;
    justify-content: center;
}

.dailyStats {
    background-color: white;
    border-radius: 1rem;
    color: var(--active-btn);
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 12rem;
    margin: 6rem 2rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.dailyPom {
    color: var(--active-btn);
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    margin: 0.5rem 0.5rem;
}

.container {
    border-radius: 2rem;
    background-color: var(--secondary-color);
    font-family: 'Nunito', sans-serif;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-top: 6rem;
    width: 45%;
    height: 45%;
}

.mode-container {
    display: flex;
    gap: auto;
    margin: 1.5rem 1rem;
    justify-self: center;
}

.mode-button {
    background: transparent;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    width: 8rem;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.focusTaskContainer {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    color: var(--active-btn);
    align-items: center;
    border-radius: 1rem;
    background-color: white;
    height: 8rem;
    width: 15rem;
    padding-bottom: 1rem;
    margin: 6rem 2rem;
}

.focusInput {
    border: none;
    background-color: transparent;
    color: var(--active-btn);
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    flex: 1;
    text-align: center;
    resize: none;
}

.timer-container {
    font-size: 7rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    justify-self: center;
}

.timer-button {
    border: none;
    border-radius: 15px;
    background-color: var(--start-btn-bg);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    width: 10rem;
    height: 3rem;
    margin: 1.5rem;
    justify-self: center;
}

.active {
    background: var(--active-btn);
    border-color: var(--active-btn);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 1rem;
    display: flexbox;
    font-family: 'Nunito', sans-serif;
    margin: 5% auto;
    padding: 1.5rem;
    height: 55%;
    width: 20%;
}

.settingHeading {
    color: black;
    padding: 0;
    display: inline-block;
}

.closeButton {
    color: #aaa;
    background-color: transparent;
    float: right;
    font-size: 1.8rem;
    font-weight: bold;
    width: 5%;
    display: inline-block;
    border: none;
    border-radius: 0.4rem;
}

.closeButton:hover,
.closeButton:focus {
    color: rgb(149, 149, 149);
    cursor: pointer;
}

.settingsSection {
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid #ccc;
}

.updateTimeSection {
    display: flex;
    justify-content: space-between;
}

.updateTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeInput {
    border: none;
    background-color: #d7d5d582;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    height: 2rem;
    width: 5rem;
    text-align: center;
}

.themeBtnSection {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.themeBtn {
    border: none;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    background-position: center;
    background-size: contain;
    width: 3rem;
    height: 3rem;
}

.applyButton {
    display: block;
    justify-self: center;
    margin-top: 2rem;
    position: relative;
    border: none;
    border-radius: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    width: 4rem;
    height: 2rem;
}

.themeBtn:hover {
    background-color: #d9d9d9;
}


.activeTheme {
    border: 0.2rem solid pink;
}

.applyButton:hover {
    background-color: #d9d9d9;
}

